{% extends "base_generic.html" %}

{% block content %}

    <style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;

}
caption {
    caption-side: top;
    color: black;
    font-size:24px;
}
    </style>
  <h1>Wellness Program Home</h1>
  <h2>Dynamic content</h2>
  <ul>
    <li><strong>Activities:</strong> {{ num_activities }}</li>
  </ul>

    {%  if activity_list %}
    <table style="width:100%">
    <caption> Completed Activity List</caption>
    <tr>
        <td>Activity Name</td>
        <td>Times Completed</td>
        <td>Points Value</td>
        <td>Points Earned</td>
        <td>Category</td>
    </tr>
        {%  for activity in activity_list %}
        <tr>
            <td>{{ activity.activity__name }} </td>
            <td>{{ activity.count }} </td>
            <td>{{ activity.activity__value }} </td>
            <td>{{ activity.earned }} </td>
            <td>{{ activity.activity__group }} </td>
        <td scope="row"> <a href="{%  url 'editpost' activity.activity_id %}">Edit</a></td>
        </tr><
        {% endfor %}
    </table>
    {%  else %}
    <p> You have no activities u about to be broke</p>
    {% endif %}
{% endblock %}