{% extends "base_generic.html" %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'postingcolors.css' %}">
  <h1>Wellness Program Home</h1>

    {%  if activity_list %}
    <table style="width:100%">
    <caption> Completed Activity List</caption>
    <tr>
        <td>Activity Name</td>
        <td>Times Completed</td>
        <td>Points Value</td>
        <td>Points Earned</td>
        <td>Category</td>
        <td>&#9998</td>
    </tr>
        {%  for activity in activity_list %}
        <tr>
            <td>{{ activity.activity__name }} </td>
            <td>{{ activity.count }} </td>
            <td>{{ activity.activity__value }} </td>
            <td>{{ activity.earned }} </td>
            <td class="{{ activity.activity__group }}">{{ activity.activity__group }} </td>
        <td scope="row"> <a href="{%  url 'editpost' activity.activity_id %}">&#9998</a></td>
        </tr>
        {% endfor %}
    </table>
    {%  else %}
    <p> You have no activities u about to be broke</p>
    {% endif %}
{% endblock %}