{% extends "base_generic.html" %}

{% block content %}

    <style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
td {
    padding: 5px;

}
caption {
    caption-side: top;
    color: black;
    font-size:24px;
}
    </style>

    {%  if allactivites %}
    <table style="width:100%">
    <caption> List of Activities</caption>
    <tr>
        <td>Activity Name</td>
        <td>Details</td>
        <td>Points Value</td>
        <td>Max Times</td>
        <td>Category</td>
        <td>Post/Add Activity</td>
    </tr>
        {%  for activity in allactivites %}
        <tr>
            <td>{{ activity.name }} </td>
            <td>{{ activity.details }} </td>
            <td>{{ activity.value }} </td>
            <td>{{ activity.max_complete }} </td>
            <td>{{ activity.group }} </td>
            <td scope="row"> <a href="{% url 'postact' activity.id %}"> +</a> </td>
        </tr><
        {% endfor %}
    </table>
    {%  else %}
    <p> No Activities</p>
    {% endif %}
{% endblock %}