{% extends "base_generic.html" %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'postingcolors.css' %}">
  <h1>User Info</h1>
    <h2>{{ Lname }}, {{ Fname }}</h2>
    <h4>Occupation: {{ occ }}</h4>
    <h4>Id: {{ ftid }}</h4>
    <h4>Start Date: {{ start_date }}</h4>
    {%  if activity_list %}
    <table style="width:100%">
    <caption> Completed activities</caption>
    <tr>
        <td>Activity Name</td>
        <td>Times Completed</td>
        <td>Points Value</td>
        <td>Points Earned</td>
        <td>Category</td>
    </tr>
        {%  for activity in activity_list %}
        <tr>
            <td>{{ activity.activity__name }} </td>
            <td>{{ activity.count }} </td>
            <td>{{ activity.activity__value }} </td>
            <td>{{ activity.earned }} </td>
            <td class="{{ activity.activity__group }}">{{ activity.activity__group }} </td>
        </tr>
        {% endfor %}
    </table>
    {%  else %}
    <p> You have no activities u about to be broke</p>
    {% endif %}
{% endblock %}